<h1>Your Welcome At SignUp Page</h1>
<div class="container">
    <div class="card">
        <form (ngSubmit)="doSubmitFrom()">
        <h2>Enter Your Details</h2>
        <mat-form-field class="field" appearance="outline">
            <mat-label >UserName</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <mat-label>Password</mat-label>
            <input  matInput>
        </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <mat-label >Email Id</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <mat-label >Address</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input  matInput>
        </mat-form-field>
        
       
          <div class="text-center">
              <button type="submit" mat-raised-button color="primary">SignUp</button>
              <button type="reset" mat-raised-button color="accent">Clear</button>
          </div>
          <div class="loginLink">
            <p>To LogIn</p>
            <a  routerLink="/login" mat-raised-button color="primary">LogIn</a>  
          </div>
        </form>
        
    </div>
</div>